.navigator{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  margin-top: 0px;
 
}

.navbar{
  display: flex;
  width: 250px;
  margin-left: 100pxb;
  background-color: black;
}

.navbar h5{
  color:white;
  cursor: pointer;
}

.navbar h5:hover{
color: brown;
}

.pokemon{
  width: 80%;
  margin: 10px auto;
  background: linear-gradient(to top, black, white);  
}

.allpokemon{
  background: linear-gradient(to top, black, white ); 
}

.card{
  margin: 20px auto;
  width: 200px;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  text-align: center;
  cursor:pointer;
}

.card:hover{
  margin-top: 5px;
}

.navbar-togler{
  color: white;
  border-color: white;
}